@font-face {
    font-family: 'ArcadeClassic';
    src: url('../../assets/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-image {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.home-nav {
    display: flex;
    padding: 1rem;
}

.home-nav button {
    font-family: inherit;
    background-color: #E791BF;
    color: white;
    padding: 15px 20px;
    margin: 0 1rem;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 8px #999;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: none;
}

.home-nav button:hover {
    background-color: #D74894;
    border: none;
}

.home-nav button:active {
    background-color: #D74894;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}