.square {
    background-color: #f7daea;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid #999;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
}

.square:hover {
    background-color: #ddd;
}

.square.selected {
    background-color: #eee;
    cursor: default;
}

.square:active {
    transform: scale(0.98);
}

.bomb-icon {
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 25px;
}

.flag-icon {
    width: 28px;
    height: 28px;
    display: block;
}