.square {
    background-color: #efb6d4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #df6da9;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: manipulation;
}

.square:hover {
    background-color: #f7daea;
}

.square.selected {
    background-color: #eee;
    cursor: default;
}

.square:active {
    transform: scale(0.98);
}

.bomb-icon {
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 25px;
}

.flag-icon {
    width: 28px;
    height: 28px;
    display: block;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}