@font-face {
  font-family: 'ArcadeClassic';
  src: url('./assets/font/ARCADECLASSIC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  font-family: 'ArcadeClassic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}